<template>
  <div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img class="logo__image" src="~/assets/logo.png">
          <span class="logo__label">NextSoccer</span>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    </nav>
  </div>
</template>

<style scoped>
  .logo__label {
    font-size: 22px;
    font-weight: bold;
    margin-left: 8px;
  }

  .logo__image {
    display: inline-block;
    animation: rotate 20s linear infinite;
    position: 'abosolute';
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
</style>

