<template>
  <div>
    <navbar></navbar>
    <nuxt/>
    <footer-app />
  </div>
</template>

<script>
  import Navbar from "~/components/Navbar";
  import FooterApp from "~/components/FooterApp";
  export default {
    components: {
      Navbar,
      FooterApp
    }
  };
</script>

<style>
  html {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  }
</style>
