<template>
  <div>
    <section class="section cover">
      <div class="container has-text-centered">
        <h1 class="subtitle">
          Descubra o craque existe em você
        </h1>
        <p class="title">
          Aprenda habilidades incríveis com os melhores treinadores e ganhe prepare-se para ganhar o <strong>mundo</strong>!
        </p>
        <a class="button is-primary is-large">
                    INSCREVA-SE
                  </a>
      </div>
    </section>
    <section class="section">
      <div class="container courses">
        <h1 class="title">Todos os cursos</h1>
        <div class="courses__list">
          <div class="courses__list__item" v-for="course in courses" :key="course.id">
            <nuxt-link :to="'/courses/' + course.id">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by4">
                    <img :src="course.image" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div>
                    <p class="subtitle">{{course.name}}</p>
                    <div class="content has-text-grey-light">
                      {{course.description}}
                    </div>
                  </div>
                  <div style="display: flex; justify-content: space-between">
                    <span v-if="course.categoryId === 'fundamentos'" class="tag is-primary">{{course.categoryId}}</span>
                    <span v-if="course.categoryId === 'profissional'" class="tag is-link">{{course.categoryId}}</span>
                    <time class="has-text-grey-light" :datetime="course.createdAt">{{course.createdAt | moment("from", "now", true) }}</time>
                  </div>
                </div>
              </div>
            </nuxt-link>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import moment from "moment";

  export default {
    async fetch({
      store,
      params,
      app
    }) {
      try {
        const res = await app.$axios.get("http://192.168.1.11:8000/api/courses");
        return store.commit("courses/setCourses", res.data);
      } catch (error) {}
    },
    computed: {
      courses() {
        return this.$store.state.courses.all;
      }
    }
  };
</script>

<style>
  .cover {
    background: url("~/assets/home.jpg");
    background-position: center center;
    background-size: cover;
    min-height: 480px;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
  }

  .cover::before {
    content: " ";
    background: rgba(102, 161, 130, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .cover .title {
    color: #fff;
    font-size: 28pt;
  }

  .cover .subtitle {
    color: #ebebeb;
    font-size: 20pt;
  }

  .courses {}

  .courses__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }

  .courses__list__item {
    flex: 1;
    min-width: 300px;
    margin: 8px;
  }

  .courses__list__item .card-content {
    height: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
</style>
