<template>
  <section class="section">
    <div class="container">

      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img :src="course.image" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-5">{{ course.name }}</p>
        </div>
      </div>

      <div style="margin: 16px 0">
        <youtube :video-id="course.id"></youtube>
      </div>

      <div class="content has-text-grey-light">
        {{course.description}}
      </div>

      <div>
        <span v-if="course.categoryId === 'fundamentos'" class="tag is-primary">{{course.categoryId}}</span>
        <span v-if="course.categoryId === 'profissional'" class="tag is-link">{{course.categoryId}}</span>
      </div>

      <br>

      <time class="has-text-grey-light" :datetime="course.createdAt">{{course.createdAt | moment("from", "now", true) }}</time>

    </div>
  </section>
</template>

<script>
  export default {
    async fetch({
      app,
      store,
      params
    }) {
      const res = await app.$axios.get(`http://192.168.1.11:8000/api/courses/${params.id}`);
      return store.commit("courses/setSelected", res.data);
    },
    computed: {
      course() {
        return this.$store.state.courses.selected || {};
      }
    }
  }
</script>
